.write .card-content {
    padding-bottom: 10px;
}

.memo .card-content {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.memo .card-content {
    font-size: 18px;
}

.auth .row {
    margin-bottom: 0px;
}

.auth .footer {
    border-top: 1px solid #E9E9E9;
    padding-bottom: 21px;
}
